.slider-box{display:none;position:fixed;z-index:9999;}
.slider-left{left:0;top:150px;}
.slider-right{right:0;top:150px;}
.slider-top{top:0;left:50px;}
.slider-bottom{bottom:0;left:50px;}
.slider-content{background-color:#FFF;overflow:auto!important;padding:5px;border-color:#3b5998;border-style:solid;border-width:1px;}
.slider-logo{position:absolute;z-index:110;cursor:pointer;font-size:0}
.slider-float-left{float:left}
.slider-float-right{float:right}
.clr{clear:both}